{{#component 'js css'}}
<h3>登陆</h3>
<div>
	账号：<input type="text" name="owner"><br>
	密码：<input type="password" name="pwd"><br>
	验证码：<input type="password" name="vcode"><br>
	<button id="btn_submit">登陆</button>
</div>
<span></span>
{{/component}}
