<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <pre>
 ______
|   __ \.---.-.--------.-----.---.-.-----.
|    __/|  _  |        |  _  |  _  |__ --|
|___|   |___._|__|__|__|   __|___._|_____|
                       |__|

-----------------------------------------------------------
    </pre>
    <br>
    Error Happened: {{error.msg}}
  </body>
</html>
