{{#component 'css'}}
<div class="text-effect">
    <h2 class="neon" data-text="I'm sorry!">I'm sorry!</h2>
    <h3>--<strong>{{data}}</strong></h3>
    <div class="gradient"></div>
    <div class="spotlight"></div>
</div>
{{/component}}
