<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Student">
	<resultMap id="StudentMap" type="Student">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="flag" property="flag"/>
	</resultMap>
	
	<sql id="tb">
        student
    </sql>

    <sql id="cols_all">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">
      name, flag
    </sql>

    <sql id="vals">
        #{name}, #{flag}
    </sql>

    <sql id="criteria">
        <if test="id != null">AND id = #{id}</if>
        <if test="name != null">AND name = #{name}</if>
        <if test="flag != null">AND flag = #{flag}</if>
    </sql>
    
    <insert id="create" parameterType="Student" keyProperty="id" useGeneratedKeys="true">
    	INSERT INTO
    	<include refid="tb"/>
    	(<include refid="cols_exclude_id"/>)
    	VALUES
    	(<include refid="vals"/>)
    </insert>
</mapper>