{{#component 'css'}}
	<main ontouchstart>
  <nav>
    <input id='link-top' type='checkbox'>
    <label class='down' for='link-top'>
      <h2>Menu</h2>
    </label>
    <ul>
      <li>
        <input id='link-shop' type='checkbox'>
        <label class='right' for='link-shop'>特效</label>
        <ul>
          <li>
            <a href='/sp/neon'>霓虹灯效果</a>
          </li>
          <li>
            <a href='/sp/box'>阴影</a>
          </li>
          <li>
            <a href='/sp/particle'>粒子写入</a>
          </li>
          <li>
            <a href='/sp/atmo'>大气科技感粒子</a>
          </li>
        </ul>
      </li>
      <li>
        <a>Blog</a>
      </li>
      <li>
        <a>About</a>
      </li>
      <li>
        <a>Contact</a>
      </li>
    </ul>
  </nav>
</main>
{{/component}}
