{{#component 'js css'}}
	<h1>这个是b.hbs</h1>
	<div>
		{{#each data}}
			{{a}}-{{age}}<br/>
		{{/each}}
	</div>
	{{inject "c"}}
{{/component}}

<!--
<script type="text/javascript" src="/apps/assets/scripts/source/b.js"></script>
-->
