{{#component 'js css'}}
<div class="text-effect">
    <!-- Select the text in the preview and type in your own -->
    <h1 class="neon" data-text="你好!漂流瓶" contenteditable>你好!漂流瓶</h1>
    <div class="gradient"></div>
    <div class="spotlight"></div>
</div>
{{/component}}
